apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: petclinic-prod

resources:
  - ../../base
  - namespace.yaml

commonLabels:
  environment: prod

patches:
  - target:
      kind: ServiceAccount
      name: petclinic
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          iam.gke.io/gcp-service-account: petclinic-app-prod@tf-gcp-proj-prod.iam.gserviceaccount.com

  - target:
      kind: Deployment
      name: petclinic
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: add
        path: /spec/template/spec/containers/1/args/-
        value: tf-gcp-proj-prod:europe-west1:petclinic-db-prod
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: SPRING_DATASOURCE_URL
          value: jdbc:postgresql://localhost:5432/petclinic
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-password
              key: password

  - target:
      kind: Gateway
      name: petclinic-gateway
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          networking.gke.io/load-balancer-type: "External"

secretGenerator:
  - name: db-password
    literals: []
    options:
      disableNameSuffixHash: true
